<div class="col-md-4" style="padding-top: 20px">
    <form>
        <h2>New Book</h2>
        <div class="form-group">
            <label class="form-control-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="book.name">
        </div>
        <div class="form-group">
            <label class="form-control-label" for="author">Author</label>
            <input type="text" class="form-control" id="author" placeholder="Author" ng-model="book.author" required>
        </div>
        <div class="form-group">
            <label for="genre" class="col-form-label">Genre</label>
            <select id="genre" class="form-control" ng-model="book.genre">
                <option ng-repeat="category in $ctrl.categories" value="{category.name}">{{ category.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="status" class="col-form-label">Status</label>
            <select id="status" class="form-control" ng-model="book.status">
                <option selected value="READ">Read</option>
                <option value="PARTLY_READ">Partly read</option>
                <option value="UNREAD">Unread</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.saveOrUpdate(book)">Submit</button>
        <button type="submit" class="btn btn-danger" ng-click="$ctrl.reset()">Reset</button>
    </form>
</div>