<div class="col-lg-10">

    <h2 class="h2">Author: {{ $ctrl.authorName }}</h2>

    <div>

            <p style="display: inline-block;"><strong>Book count: {{ $ctrl.authorBooks.length; }}</strong></p>
        
        <book-search query="$ctrl.query"></book-search>
    </div>

    <div style="margin-top: 20px;">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Genre</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="book in $ctrl.authorBooks | filter: $ctrl.query">
                <td>{{ book.id }}</td>
                <td><a href="#!/book/{{ book.id }}">{{ book.name }}</a></td>
                <td>{{ book.genre }}</td>
                <td>
                    <span ng-class="{
                            badge: true,
                            'badge-success': book.status == 'read',
                            'badge-danger': book.status == 'unread',
                            'badge-warning': book.status == 'partly'
                            }">
                        {{ book.status }}
                    </span>
                </td>
            </tr>


            </tbody>
        </table>
    </div>
</div>