<div class="col-lg-10">
    <div>
        <a class="btn btn-primary" href="#!/books/add" role="button">Add New Book</a>
        <search></search>
    </div>
</div>

<div style="margin-top: 20px;">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="book in $ctrl.books | filter: $ctrl.query">
            <td>{{ book.id }}</td>
            <td><a href="#!/book/{{ book.id }}">{{ book.name }}</a></td>
            <td>{{ book.author }}</td>
            <td>{{ book.genre }}</td>
            <td><span class="badge badge-success">{{ book.status }}</span></td>
        </tr>


        </tbody>
    </table>
</div>
