<div class="col-lg-10">
    <h2>Authors</h2>
    <div>
        <book-search query="$ctrl.query"></book-search>
    </div>

    <div style="margin-top: 20px;">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Books</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="author in $ctrl.authors | filter: $ctrl.query">
                    <td><a href="#!/author/{{ author }}">{{ author.name }}</a></td>
                    <td>{{ author.count }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
